[flake8]
ignore = D203,E704,W605,E731,CFQ002,CCR001, A003

exclude =
  .git,
  .vscode,
  .idea,
  .pytest_cache,
  pycache,
  ignored,
  pageobjects/locators,
  allure-results
  venv
  .venv

max-line-length = 120
inline-quotes = '